#h2_1:hover{
    color:blue;
    font-size:xx-large
}
#td_1{
    color:brown;
}
#td_2{
    color:orange;
}
#td_3{
    color:purple
}
#p_1{
    color:gray;
}
#p_2{
    font-size:x-large
}
.paragrafo_preto{
    color:black;
    font-size:x-large
}


