body{
    background-color: aquamarine;
}
#h_2{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: sans-serif;
}
#div_1{
    display: flex;
    justify-content: center;
}
#div_2{
    display: flex;
    justify-content: center;
}
#div_3{
    display: flex;
    justify-content: center;
}