.flex-container{
    height:600px;
    display:flex;
    background-color: aquamarine;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.flex-container div{
    background-color: burlywood;
    padding:10px;
    margin:10px;
}

#d16{
    order:2;
    flex-grow: 2;
}
#d8{
    order:1;
    flex-grow: 1;
    align-self: flex-start;
}
#d22{
    order:3;
    flex-shrink: 1;
    flex-basis: 200px;
}