<!DOCTYPE html>
<html>
    <head>
        <title>Mensagem do Servidor</title>
        <meta charset="UTF-8">
        <link href="resposta.css" rel="stylesheet">
    </head>
    <body>
        <h1>Cadastro Realizado com sucesso</h1>
        <p>Nome: <%= Nome %></p>
        <p>Email: <%= Email %></p>
        <p>Senha: <%= Senha %></p>
        <p>Data de Nascimento: <%= Nascimento %></p>
    </body>
</html>