

    

#img_2{
    position:relative;
    left:1320px;
    bottom:185px;
}
#h_1{
    position:relative;
    left:610px;
    bottom:68px;
    color:darkgreen;}

div{
    border-style: solid;
    background-color: bisque;
    padding:1px;
    margin:1px;
}





