<!DOCTYPE html>
<html>
    <head>
        <title>Resposta para usuário</title>
        <meta charset="UTF-8">
        <link href="" rel="stylesheet">
    </head>


    <body>
        <h1>Resposta:</h1>
        <p>Mensagem do servidor: xxxxxxxx</p>
        <p>Usuário</p>
    </body>
</html>